# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "ed4a8b6013f91f2b4a04ccf2802d20a8"
application_url = "https://plugin-1.unzer.com/"
embedded = true
name = "Secured Payments by Unzer"
handle = "unzer-payments-1"

[build]
include_config_on_deploy = true

[webhooks]
api_version = "2024-07"

  [[webhooks.subscriptions]]
  uri = "/webhooks"
  compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_payment_gateways,write_payment_sessions"

[auth]
redirect_urls = [
  "https://plugin-1.unzer.com/auth/callback",
  "https://plugin-1.unzer.com/auth/shopify/callback",
  "https://plugin-1.unzer.com/api/auth/callback"
]

[pos]
embedded = false
